<style>
    .card {
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0,0,0,.03);
        border-bottom: 1px solid rgba(0,0,0,.125);
        font-weight: bold;
    }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .margin-top-10 {
        margin-top:1.25rem;
    }

    label {
      font-weight: bold;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">User Detail</h3>
    </div>
    <div class="panel-body">
        <%= form_for(User.new, url: @url, html: {class: 'form-horizontal client'}) do |f| %>
          <div class="row">
              <div class="left margin-top-10 col-lg-6">
                  <div class="card">
                      <div class="card-header">
                          User Data
                      </div>
                      <div class="card-body">
                          <div class="form-group">
                            <label class="col-sm-12">Email</label>
                            <div class="col-sm-12">
                              <%= f.text_field :email, class: 'form-control', type: 'text', placeholder: 'Email', required: true, disabled: true, value:@users.email %>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-12">Password</label>
                            <div class="col-sm-12">
                              <%= f.password_field :password, class: 'form-control', type: 'text', placeholder: 'Password', required: true, disabled: true %>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-12">Password Confirmation</label>
                            <div class="col-sm-12">
                              <%= f.password_field :password_confirmation, class: 'form-control', type: 'text', placeholder: 'Password Confirmation', required: true, disabled: true %>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-12">User Type</label>
                            <div class="col-sm-12">
                              <%= f.select :user_type, options_for_select([['Admin', 'admin']], @users.nil? ? '' : @users.user_type), {prompt: 'Select Status'}, class: 'form-control', disabled: true %>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-offset-2 col-sm-10">
                                  <%= link_to 'Back', users_path, class: 'btn btn-default btn-length-medium' %> <%= link_to 'Edit', edit_user_path(@users), class: 'btn btn-primary btn-length-medium btn-edit' %>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        <% end %>
    </div>
</div>
